body {
	background-image: url('../img/background.jpg');
	background-position: center;
	background-size: 100%;
}

nav{
	top: 0;
	padding: 12px;
	width: 184px;
	position: fixed;
	background-color: rgba(0,0,0,0.88);
}

nav h1{
	margin: 0;
	color: white;
}

img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.Absolute-center {
	margin-top: 2%;
}

.newsStation {
	margin: auto;
	left: 12%;
	width: 60%;
	background: lightblue;
	border: 5px solid black;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;

}

#newsSource{
	list-style-type: none;
	padding: 14px;
	margin: 0;
}

#newsSource li{
	display: inline;
}

.newsImage {
	box-shadow: 1px 1px black;
}

#polygonImg {
	background: mediumpurple;
}

#redcodeImg {
	background: white;
}

#fortuneImg {
	background-size: 60%;
	background: white;
}

.thiss{
	text-align: center;
}

.headlines {

	margin: auto;
    width: 60%;
    height: 600px;
    padding: 15px;
	overflow: auto;
	border: 5px solid black;
	border-top: none;
	background: white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}